:root {
  --color-background: white;
  --color-background-dark: #121212;
  --color-background-dark-lighten: #2b2b2b;
  --color-primary: #ff8800;
  --color-primary-lighten: #f4f1fa;
  --color-secondary: #fafafa;
  --color-secondary-dark: #1e1e1e;
  --color-border: #ebebeb;
  --color-border-dark: #2b2b2b;
  --color-text: #fff;
  --color-text-lighten: #7a7a7a;
  --color-text-dark: var(--color-background);
  --color-text-dark-lighten: #979797;
  --color-anchor-dark: var(--color-text-dark);
  --color-success: #50b154;
  --color-error: #ff5252;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  direction: ltr;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 0;
  overflow: hidden;
}

.ttt-game {
  display: flex;
  align-items: center;
  margin: auto;
  width: 13rem;
  height: 100vh;
}

.ttt-player-icon {
  color: white;
  width: 2.4rem;
  height: 4.4rem;
  /* display: none; */
}

.ttt-player-icon--hidden {
  display: none;
}

.ttt-score {
  /* display: none; */
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #0000006b;
  margin-left: .1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ttt-grid {
  background: var(--color-primary-lighten);
  border-radius: 2px;
  line-height: 0;
  margin: auto;
  width: 15rem;
}

.ttt-cell {
  border: 1px solid var(--color-primary);
  border-width: 1px 0 0 1px;
  display: inline-block;
  padding: 0.2rem;
  width: 5rem;
  height: 5rem;
}

.ttt-row:first-child .ttt-cell {
  border-top: none;
}

.ttt-cell:first-child {
  border-left: none;
}

.ttt-icon {
  display: none;
  font-size: 30px;
}
.svg {
  width: 2.5em;
  height: 2.5em;
}
.ttt-cell .ttt-icon {
  color: var(--color-primary);
  display: block;
}

.ttt-blink .ttt-icon {
  animation: blink 250ms step-end 0s 3;
}

.players{
    margin-top: 10px;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 432px) {
  .ttt-game-structure{
    margin-left: -14px;
  }
}
